{% extends '@Domain/layout/app.twig' %}

{% block content %}
<div container>
    <div>{% include '@Domain/components/alerts.twig'%}</div> 
    <h1 class="text-center">Settings</h1>

    <div grid='gutters'>
        <div column='6 d-6 t-12 m-12'>
            <div class="card-box">
                <div class="content">
                    <h3>Profile</h3>
                    <form action="{{ path_for('@Auth.account.profile') }}" method="POST">
                        {{ csrf.field | raw }}

                        <div class="form-field">
                            <span>Username : </span>
                            <span>{{ auth.username }}</span>
                        </div>
                        {% include '@Domain/components/form/input.twig' with { name: 'email', label: translator.lang('@Auth.parts.form.email'), value: old.email ? old.email : auth.email } %}

                        <button type="submit" class="-success -fluid -center">Update</button>
                    </form>
                </div>
            </div>
        </div>
        <div column='6 d-6 t-12 m-12'>
            <div class="card-box">
                <div class="content">
                    <h3>Password</h3>
                    <form action="{{ path_for('@Auth.account.password') }}" method="POST">
                        {{ csrf.field | raw }}

                        {% include '@Domain/components/form/input.twig' with { 
                            name: 'current_password', 
                            type: 'password',
                            label: translator.lang('@Auth.parts.form.current_password') } %}
                        {% include '@Domain/components/form/input.twig' with { 
                            name: 'new_password', 
                            type: 'password',
                            label: translator.lang('@Auth.parts.form.new_password') } %}
                        {% include '@Domain/components/form/input.twig' with { 
                            name: 'confirm_new_password', 
                            type: 'password',
                            label: translator.lang('@Auth.parts.form.confirm_new_password') } %}

                        <button type="submit" class="-success -fluid -center">Update Password</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}