{% if auth.check() %}
	<div><hr></div>
	<span class="simple-title">
		{{ auth.username }}
	</span>
	<div class="group-block -vertical">
		{% include '@Admin/parts/nav/admin-item.twig' %}
        {% include '@Domain/link.twig' with { path: '@Auth.settings', label: translator.lang('@Auth.parts.settings'), class: 'side-item' } %}
        {% include '@Domain/link.twig' with { path: '@Auth.logout', label: translator.lang('@Auth.parts.logout'), class: 'side-item -default' } %}
	</div>
{% else %}
    {% include '@Domain/link.twig' with { path: '@Auth.login', label: translator.lang('@Auth.parts.login'), class: 'side-item' } %}
{% endif %}