{% extends '@Domain/layout/app.twig' %}

{% block content %}
    <div column grid='center'>
        <div grid='rows fluid gutters' column='4 l-6 t-8 m-12'>
            <div>{% include '@Domain/components/alerts.twig'%}</div> 
            <div>
                <div class="card-box">
                    <form class='content' action="{{ path_for('@Auth.password.forgot') }}" method="post">
                        <h3 class='title'>{{ translator.lang('@Auth.parts.password_forgot') }}</h3>
                        {% include '@Domain/components/form/input.twig' with { name: 'email', label: translator.lang('@Auth.parts.form.email') } %}

                        {{ csrf.field | raw }}
                        <button type="submit" class='-success -fluid -center'>{{ translator.lang('@Auth.parts.password_forgot') }}</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
