{% extends '@Domain/layout/app.twig' %}

{% block content %}
    <div column grid='center'>
        <div grid='rows fluid gutters' column='4 l-6 t-8 m-12'>
            <div>{% include '@Domain/components/alerts.twig'%}</div> 
            <div>
                <div class="card-box">
                    <form class='content' action="{{ path_for('@Auth.password.reset') }}" method="post">
                        <h3 class='title'>{{ translator.lang('@Auth.parts.password_reset') }}</h3>
                        {% include '@Domain/components/form/input.twig' with { name: 'new_password', label: translator.lang('@Auth.parts.form.new_password'), type: 'password' } %}
                        {% include '@Domain/components/form/input.twig' with { name: 'confirm_new_password', label: translator.lang('@Auth.parts.form.confirm_new_password'), type: 'password' } %}

                        <input type="hidden" name='identifier' value='{{identifier}}'>

                        {{ csrf.field | raw }}
                        <button type="submit" class='-success -fluid -center'>{{ translator.lang('@Auth.parts.password_reset') }}</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
