<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="https://gl.githack.com/Jonas-B/frame-css/raw/master/dist/frame.css">
</head>
<body class='theme'>
{% block content %}
{% endblock %}
<script type="text/javascript"> </script>
</body>
</html>