{% extends '@Domain/layout/app.twig' %}

{% block content %}
	<div column grid='center'>
		<div grid='rows fluid gutters' column='4 l-6 t-8 m-12'>
			<div>{% include '@Domain/components/alerts.twig'%}</div> 
			<div>
				<div class="card-box">
					<form class='content' action="{{ path_for('@Auth.login') }}" method="post">
						<h3 class='title'>{{ translator.lang('@Auth.parts.login') }}</h3>
						{% include '@Domain/components/form/input.twig' with { name: 'username', label: translator.lang('@Auth.parts.form.username') } %}
						{% include '@Domain/components/form/input.twig' with { name: 'password', label: translator.lang('@Auth.parts.form.password'), type: 'password' } %}

						<div class="form-field" grid>
							<div>
								<input type="checkbox" name="remember" id='remember'>
								<label for='remember'>{{ translator.lang('@Auth.parts.form.remember') }}</label>
							</div>
							<div grid column></div>
							<div>
								 <a href="{{ path_for('@Auth.password.forgot') }}">{{ translator.lang('@Auth.parts.form.password_forgot') }}</a>
							</div>
						</div>
						{% if sso_redirect is defined %}
							<input type="hidden" name='sso_redirect' value='{{sso_redirect}}'>
						{% endif %}

						{{ csrf.field | raw }}
						<button type="submit" class='-success -fluid -center'>{{ translator.lang('@Auth.parts.login') }}</button>
					</form>
				</div>
			</div>
			<div>
				<div class="_text-center">
					{% set path = sso_redirect ? path_for('@Auth.register', {}, {sso_redirect: sso_redirect}) : path_for('@Auth.register') %}
					{{ translator.lang('@Auth.messages.register', {url: path}) | raw }}
				</div>
			</div>
		</div>
	</div>
{% endblock %}
