{% extends '@Domain/layout/app.twig' %}

{% block content %}
	<div column grid='center'>
		<div grid='rows fluid gutters' column='4 l-6 t-8 m-12'>
			<div>{% include '@Domain/components/alerts.twig'%}</div> 
			<div>
				<div class="card-box">
					<form class='content' method="post">
						<h3 class='title'>{{ translator.lang('@Auth.parts.register') }}</h3>
						{% include '@Domain/components/form/input.twig' with { name: 'username', label: translator.lang('@Auth.parts.form.username') } %}
						{% include '@Domain/components/form/input.twig' with { name: 'email', label: translator.lang('@Auth.parts.form.email'), type: 'email' } %}
						{% include '@Domain/components/form/input.twig' with { name: 'password', label: translator.lang('@Auth.parts.form.password'), type: 'password' } %}
						{% include '@Domain/components/form/input.twig' with { name: 'confirm_password', label: translator.lang('@Auth.parts.form.confirm_password'), type: 'password' } %}

						{% if sso_redirect is defined %}
							<input type="hidden" name='sso_redirect' value='{{sso_redirect}}'>
						{% endif %}
						
						{{ csrf.field | raw }}
						<button type="submit" class="-success -fluid -center">{{ translator.lang('@Auth.parts.register') }}</button>
					</form>
				</div>
			</div>
			<div column>
				<div class="_text-center">
					{% set path = sso_redirect is defined ? path_for('@Auth.login', {}, {sso_redirect: sso_redirect}) : path_for('@Auth.login') %}
					Already have an account? <a href="{{ path }}">Login</a>
				</div>
			</div>
		</div>
	</div>

{% endblock %}
